*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NavBar */
header {
    background-color: white;
    height: 9vh;
	width: 100%;
	position: fixed;
	border-top: 20px 20px;
	box-shadow: 5px 5px 60px 5px #16787d;
	z-index: 3;
}

.logo {
	margin-left: 8vh;
	margin-top: 3px;
    height: 8vh;
	width: 8vh;
}

.smartwasher {
	float: left;
	color: #16787d;
	margin-top: 1.8vh;
	margin-left: 15px;
	font-size: 4.8vh;
	font-family: 'Lemon', cursive;
}


nav {
    display: flex;
    min-height: 8vh;
}

.main-nav {
    display: flex;
	margin-left: 20%;
    justify-content: space-around;
    width: 50%;
}

.main-nav li {
	margin-top: 2vh;
    list-style: none;
	display: flex;
	font-size: 20px;
}
.main-nav li:last-child {
	margin-top: 0vh;
    list-style: none;
	display: flex;
	font-size: 20px;
}
.main-nav li button {
    background-color: #16787d;
	color: white;
	height: 5vh;
	font-size: 25px;
	display: inline-block;
    margin-top: 1.6vh;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px 40px 12px;
    line-height: 1.42857143;
    border-radius: 30px;
}
.main-nav li:hover {
	margin-top: 1vh;
    list-style: none;
	display: flex;
	text-shadow: 20px 20px 20px 20px #77d3d8;
	transition: all 0.7s ease;
}
.main-nav li:last-child:hover {
	margin-top: -0.0vh;
    list-style: none;
	display: flex;
	transition: all 1s ease;
}
.main-nav a {
    color: #16787d;
    text-decoration: none;
	font-size: 25px;
	font-family: 'Baloo Chettan', cursive;
}
.main-nav li:last-child button:hover {
    background-color: #16787d;
	color: white;
	height: 7vh;
	font-size: 30px;
	display: inline-block;
    margin-top: 1vh;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px 40px 12px;
    line-height: 1.42857143;
    border-radius: 30px;
	transition: all 0.5s ease;
}

.burger {
	display: none;
	margin-right: 3vw;
} 

.burger div {
    width: 40px;
    height: 6px;
    background-color: #16787d;
    margin: 8px;
	transition: all 0.7s ease;
}

@media screen and (max-width:1100px) {
	.logo {
		margin-left: 17vw;
		height: 5vh;
		width: 5vh;
	}
	header {
		height: 5.5vh;
	}
	.smartwasher {
		float: left;
		color: #16787d;
		margin-top: 1vh;
		margin-left: 1vh;
		font-size: 3vh;
	}
    .main-nav {
        width: 30%;
		right: 0;
        position: fixed;
        height: 30%;
        top: 5.5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		justify-content: center;
		border-bottom-left-radius: 30px;
    }
	.main-nav li {
		margin-top: 2vh;
		opacity: 0;
		display: block;
	}
	
	.main-nav li:hover {
		margin-top: 2vh;
		margin-right: 4vh;
    	list-style: none;
		display: flex;
		text-shadow: 20px 20px 20px 20px #77d3d8;
		transition: all 1s ease;
	}
	.main-nav li:last-child:hover {
		margin-top: 0vh;
		margin-right: 0vh;
    	list-style: none;
		display: flex;
		text-shadow: 20px 20px 20px 20px #77d3d8;
		transition: all 1s ease;
	}
    .burger {
		position: absolute;
		float: right;
		margin-top: 1vh;
		padding-left: 92%;
        display: block;
    }
    .main-nav li button {
        height: 3vh;
    }
    .main-nav li:last-child button:hover {
        height: 3vh;
    }
}

.nav-active {
	transform: translateX(0%);
	box-shadow: 0px 30px 40px 0px #16787d;
}

@keyframes mainNavFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-17px,12px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-5px);
}

/* LANDING HOME */
.home {
	position: relative;
	display: flex;
	z-index: 0;
}

.dirty-background {
	height: 100vh;
	width: 70vw;
	background-image: url(dirty-background.png);
	background-position: top;
	background-size: 80vw;
	background-repeat: repeat-y;
}
.overlay-cyan {
	height: 99.6vh;
	width: 70vw;
	background: rgb(99, 202, 208, 0.8);
	text-align: center;
	position: relative;
	z-index: 0;
}
.text-smartwasher {
	font-family: 'Lemon', cursive;
	font-display: bolder;
	font-size: 92px;	
	line-height: 70px;
	color: #16787d;
	padding-top: 20vh;
}

.text-title {
	font-family: 'Baloo Chettan', cursive;
	font-weight: bolder;
	font-size: 35px;	
	color: #16787d;
	padding-top: 1vh;
}

.text-content {
	text-align: left;
	padding-top: 10vh;
	padding-left: 6vw;
	font-family: 'Baloo Chettan', cursive;
	color: white;
	font-size: 22px;
	margin-right: 20%;
}
.btn-explore {
	padding-left: 8vw;
	padding-top: 20px;
	position: relative;
	text-align: left;
    z-index: 1;
}
.btn-explore button {
    background-color: #ffffff;
	color: #16787d;
	height: 6vh;
	font-size: 35px;
	display: inline-block;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 0px 20px 50px 20px;
    line-height: 1.42857143;
    border-radius: 60px;
}

.btn-explore button img { 
	margin-right: 6px; 
	margin-bottom: 3px; 
	border-radius: 50%; 
	width:30px;
	height:30px;
	object-fit:cover;
}

.product-photo {
	position: relative;
	z-index: 2;
}

.product-photo img {
	position: relative;
	top: 13%;
	right: 40%;
	width: 300px;
	height: 620px;
}

@media screen and (max-width:1100px) {
	.home {
		height: 60vh;
	}
	.dirty-background {
		height: 60vh;
		width: 65vw;
		background-image: url(dirty-background.png);
		background-position: top;
		background-size: 80vw;
		background-repeat: repeat-y;
	}
	.overlay-cyan {
		height: 60vh;
		width: 65vw;
		background: rgb(99, 202, 208, 0.8);
		text-align: center;
	}
	.text-smartwasher {
		font-size: 90px;	
		color: #16787d;
		padding-top: 17vh;
		text-shadow: 30px 30px 30px 30px;
	}
	.text-title {
		font-family: 'Baloo Chettan', cursive;
		font-weight: bolder;
		font-size: 40px;	
		color: #16787d;
		padding-top: 1vh;
	}
	
	.text-content {
		text-align: left;
		padding-right: 6vw;
		padding-top: 7vh;
	}
	
	.text-content .hidden-text{
		display: none;
	}
	
	.btn-explore {
		padding-left: 7vw;
		padding-top: 30px;
		text-align: left;
	}
	.btn-explore button {
		background-color: #ffffff;
		color: #16787d;
		height: 4vh;
		font-size: 25px;
		border: 1px solid transparent;
		padding: 6px 12px;
		line-height: 1.42857143;
		border-radius: 60px;
		margin-right: 6px;
	}
	.product-photo img {
		position: relative;
		top: 25%;
		right: 20%;
		width: 500px;
		height: 750px;
	}
}

/* PRODUCT */
.product {
	position: relative;
	display: flex;
	z-index: 1;
}

.product-images-container {
	position: relative;
	z-index: 2;
	height: 100%;
	width: 30%;
}

.product-images-container img {
	position: relative;
	height: 580px;
	width: 550px;
	margin-top: 30%;
	margin-left: 20%;
	z-index: 5;
}
.product-features-container {
	position: relative;
	height: 100vh;
	width: 80%;
	background-image: linear-gradient(to bottom right,#52cad3, #2aa39d);
}

.advantages {
	font-family: 'Baloo Chettan', cursive;
	font-weight: bolder;
	font-size: 50px;	
	color: #ffffff;
	padding-top: 10vh;
	padding-left: 6vw;
}

.size-of-smartwasher {
	font-family: 'Baloo Chettan', cursive;
	color: white;
	font-size: 22px;
	padding-left: 6vw;
}

.feature-cards {
	display: flex;
}

.card {
	width: 270px;
	height: 400px;
	margin-top: 30px;
	margin-left: 70px;
	background: #ffffff;
	border-radius: 30px;
	text-align: center;
	box-shadow: 10px 10px 20px 10px #1a6f74;
}

.card:hover {
	width: 320px;
	height: 430px;
	margin-top: 20px;
	margin-left: 50px;
	transition: all 0.4s ease;
}

.card h2 {
	font-family: 'Baloo Chettan', cursive;
	font-weight: bolder;
	font-size: 28px;	
	color: #07373a;
}

.card h3 {
	font-family: 'Baloo Chettan', cursive;
	font-weight: bolder;
	font-size: 22px;	
	color: #16787d;
	margin-left: 20px;
	margin-right: 20px;
}

@media screen and (max-width:1100px) {
	.advantages {
		padding-top: 7vh;
	}
	.product-images-container {
		display: none;
	}
	.product-features-container {
		position: relative;
		height: 60vh;
		width: 100%;
		background-image: linear-gradient(to bottom right,#52cad3, #2aa39d);
	}
	.card {
		margin-left: 43px;
	}
}

/* CONTACT */
.contact {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: white;
}

.contact h3 {
    font-family: 'Baloo Chettan', cursive;
	font-weight: bolder;
	font-size: 60px;	
	color: #16787d;
	padding-top: 10vh;
    padding-left: 3vw;
}

.contact-display {
    display: flex;
    height: 78%;
    width: 100%;
}

.send-mail {
    width: 80%;
	height: 100%;
	padding-left: 5%;
}

.send-mail button {
    background-color: #16787d;
	color: white;
	height: 5vh;
	font-size: 25px;
	display: inline-block;
    margin-top: 5vh;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 30px 40px 30px;
    line-height: 1.42857143;
    border-radius: 30px;
    float: right;
}
.send-mail button:hover {
    background-color: #16787d;
	color: white;
	height: 5vh;
	font-size: 25px;
	display: inline-block;
    margin-top: 5vh;
    margin-right: -1.3vw;
    font-family: 'Baloo Chettan', cursive;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 60px 40px 60px;
    line-height: 1.42857143;
    border-radius: 30px;
	transition: all 0.5s ease;
    float: right;
}
.info-container {
    margin-left: 3vw;
    margin-top: 3vh;
}
.info-container h4 {
    color: #16787d;
    text-decoration: none;
	font-size: 25px;
	font-family: 'Baloo Chettan', cursive;
}
.info-container input {
	width: 90%;
	margin-left: 2vw;
    height: 20%;
    font-size: 20px;
    font-family: 'Baloo Chettan', cursive;
    color: gray;
}
@media screen and (max-width:1100px) {
	.contact {
		height: 70%;
	}
    .hotline {
        display: none;
    }
    
    .send-mail {
        width: 100%;
    }
    .contact h3 {
        font-family: 'Baloo Chettan', cursive;
        font-weight: bolder;
        font-size: 80px;	
        color: #16787d;
        padding-top: 6vh;
        padding-left: 10vw;
    }
    .contact-display {
        display: flex;
        height: 90%;
        width: 100%;
    }
    .send-mail button {
		background-color: #16787d;
		color: white;
		height: 4vh;
		font-size: 50px;
		display: inline-block;
		margin-top: 5vh;
		margin-right: 8.5vw;
		font-family: 'Baloo Chettan', cursive;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		padding: 6px 30px 80px 30px;
		line-height: 1.42857143;
		border-radius: 30px;
		float: right;
	}
	.send-mail button:hover {
		background-color: #16787d;
		color: white;
		height: 4vh;
		font-size: 50px;
		display: inline-block;
		margin-top: 5vh;
		margin-right: 8vw;
		font-family: 'Baloo Chettan', cursive;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		padding: 6px 60px 80px 60px;
		line-height: 1.42857143;
		border-radius: 30px;
		transition: all 0.5s ease;
		float: right;
	}
	.info-container {
		margin-left: 3vw;
		margin-top: 2vh;
	}
	.info-container h4 {
		color: #16787d;
		text-decoration: none;
		font-size: 40px;
		font-family: 'Baloo Chettan', cursive;
	}
	.info-container input {
		width: 80%;
		height: 20%;
		font-size: 40px;
		margin-left: 20px;
		font-family: 'Baloo Chettan', cursive;
		color: gray;
	}
}

/* FOOTER */
footer {
	position: relative;
	background-color: #171717;
	width: 100%;
	height: 30%;
}